 html {
      font-size: 10px;
      font-family: "Open Sans", sans-serif;
      background: url('smps4.jpg') center;
      background-size: cover;
    }


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.panel {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.panel-heading {
  background-color: #126180;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.panel-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.radio-inline {
  display: inline-block;
  margin-right: 20px;
}

.btn-primary {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #126180;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0b415c;
}

.panel-footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: right;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.panel-footer small {
  color: #555;
}
